@media (max-width: 1024px){
    h1 {
        font-size: 3.4rem;
        line-height: 3.4rem;
    }

    h2 {
        font-size: 3.8rem;
        line-height: 4.7rem;
    }

    p {
        line-height: 2.4rem;
    }

    .banner-principal {
        height: auto;
        padding: 12rem 0 6rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    h1 br { display: none;}

    h2 {
        font-size: 2.4rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }

    h2 br { display: none;}

    input {
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    span {
        font-size: 1.8rem;
        line-height: auto;
    }

    .button-primary {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .button-light-blue {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    header {
        padding: 2rem 0;
    }

    .header-internas {
        background: #fff;
        padding: 1rem 0;
    }

    .logo img {
        width: 100%;
    }

    .left-side {
        padding-top: 8rem;
        margin-bottom: 3rem;
    }

    .banner-principal .left-side {
        padding-top: 0;
        margin-bottom: 3rem;
    }

    .menu ul {
        flex-direction: column;
    }

    .banner-principal {
        height: 100vh;
        padding: 0;
        padding-top: 6rem;
    }

    .banner-produtos img {
        width: 100%;
    }

    .right-side figure {
        height: auto;
        width: 100%;
    }

    .left-side p {
        font-size: 2rem;
        line-height: 2.8rem;
        padding: 2rem 0;
    }

    .area-white {
        padding: 3rem 0;
    }

    .area-white p {
        margin-bottom: 1.5rem;
    }

    .subtitle {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    .servicos-title {
        margin-bottom: 2rem;
    }

    .area-gray {
        padding: 3rem 0;
    }

    .rodape-title {
        line-height: 2.2rem;
        margin-bottom: 3rem;
        font-size: 1.8rem;
    }

    .rodape-title br { display: none;}

    .box-dispositivos {
        margin-bottom: 3rem;
    }

    .dispositivos {
        width: 100%;
    }

    .dispositivos-img {
        height: 20rem;
    }

    .dispositivos figure img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .right-text {
        margin-top: 0;
    }

    .galeria {
        padding-top: 3rem;
    }

    .box-white {
        width: 100%;
        height: 12rem;
    }

    .box-white img {
        width: 80%;
        max-height: 60%;
        object-fit: cover;
    }

    .box-depoimentos {
        width: 100%;
        height: auto;
        padding: 3rem;
    }

    .box-img {
        height: auto;
    }

    .box-img figure {
        height: 20rem;
    }

    .duvidas {
        padding: 3rem 0;
    }

    footer {
        padding: 3rem 0 0;
        text-align: center;
    }

    footer .menu ul {
        padding: 0;
    }

    footer .logo img {
        margin-bottom: 3rem;
    }

    .copyright {
        padding: 0;
        text-align: center;
    }

    .menu-footer {
        margin-bottom: 2.5rem;
    }

    .copyright .left-side {
        padding: 0;
    }

    .redes-sociais {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
   
    footer span {
        display: block;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    footer .menu > ul li {
        margin-left: 0;
    }

    .infos .col-4 {
        padding: 0;
    }

    .infos {
        width: 85%;
    }

    .infos span {
        display: none;
    }

    .box-infos {
        flex-direction: column;
    }

    .box-infos img {
        margin-right: 0;
        margin-bottom: 0;
    }

    .banner-internas {
        padding: 8rem 0 6rem;
        background: url(../../images/bg-banner-3.jpg) center no-repeat;
        background-size: cover;
        position: relative;
    }

    .box-infos {
        height: 8rem;
    }

    .mapa iframe {
        height: 350px;
    }

    .white-box {
        flex-direction: column;
        margin-left: 0;
        margin-top: 2rem;
        padding: 3rem;
    }

    .white-box figure img {
        width: 140px;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .estrutura-description span {
        margin-bottom: 1rem;
    }

    .estrutura-img figure {
        height: 20rem;
    }

    .orcamento {
        padding: 6rem 0 3rem;
    }

    .another-products {
        flex-direction: column;
    }

    .menu-produtos { display: none;}

    .left-side.produtos span {
        font-size: 3.6rem;
        line-height:  5rem;
    }

    .down-side p {
        padding: 0 0 2.5rem 0;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    .down-side span {
        line-height: 2.6rem;
        padding: 0;
    }

    .banner-principal.produtos-area {
        height: 75vh;
    }

    .copyright .left-side p {
        padding: 1.5rem 0;
        height: 6rem;
        text-align: center;
    }

    .iso {
        margin-left: 0;
        text-align: center;
    }

    .banner-produtos figure {
        width: 100%;
    }

    .slider-depoimentos {
        flex-direction: column;
    }

    .area-portfolio {
        padding: 4rem 0;
    }

    .swiper-product {
        margin-bottom: .5rem;
    }

    .swiper-products figure {
        height: 110px;
    }

    .copyright {
        padding-bottom: 2rem;
    }

    .copyright .left-side {
        margin-bottom: 0;
    }

    .copyright .left-side p {
        font-size: 1.4rem;
        margin-bottom: 0;
        line-height: 1.8rem;
        height: auto;
    }

    .copyright .right-side p {
        font-size: 1.4rem;
    }

    .servicos-title span {
        font-size: 2rem;
    }
}