header {
    padding: 2rem 0;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: all .3s ease-in-out;
    z-index: 80;
}

header.active {
    background: #002c9d;
}

.header-internas {
    background: #ffffff;
}

.header-internas.active {
    background: #ffffff;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.menu ul li {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 4.5rem;
    margin: 0 3rem;
    list-style: none;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

.menu ul .language {
    border: 1px solid #9ea7c7;
}

.menu ul .language li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu ul .language li p {
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #fff;
    margin-left: 1rem;
}

.header-internas .menu ul li a {
    color: #000000;
    text-decoration: none;
    position: relative;
}